.form {
  width: 100%;
  font-family: "Segoe UI", "Arial", sans-serif;
}
.form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
}
.form__checkbox {
  display: none;
}
.form__label {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
  }
}
.form__checkbox:checked + .form__label::before {
  content: "\2713";
}
.form__btn {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 16px;
}
.form__num {
  width: 150px;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}
.form__change {
  width: 50px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  .transition();
  
  &:hover,
  &:active {
    background-color: @blue;
    .transition();
  }
}
.form__value {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
}