@media (max-width: 1600px) {
  .category__wrap {
    width: 1200;
  }
  .category__list {
    justify-content: space-around;
    margin-right: 0;
  }
  .category__item {
    margin-right: 0;
  }
}
@media (max-width: 1400px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -30px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: -30px;
  }
}